#calc               { background-image:url(../img/table.png); background-repeat:no-repeat; cursor:default; font-size:1px; height:550px; overflow:hidden; position:relative; width:800px;    margin-top: 20px;    margin-bottom: 20px; }
#calc img           { border:0; }
.cache              { display:none; }

@media only screen and (max-width:420px) {
	#calc{
		zoom:0.42;
		-moz-transform: scale(0.42);
	}
}

/* SMALL CARDS */

#calc .smc          { background-image:url(../img/deck0.png); background-repeat:no-repeat; cursor:pointer; display:none; font-size:1px; height:24px; display:none; overflow:hidden; position:absolute; top:19px; width:13px; }

#sm0                { background-position:   0   0; left: 23px; }
#sm1                { background-position: -12px 0; left: 37px; }
#sm2                { background-position: -24px 0; left: 51px; }
#sm3                { background-position: -36px 0; left: 65px; }
#sm4                { background-position: -48px 0; left: 79px; }
#sm5                { background-position: -60px 0; left: 93px; }
#sm6                { background-position: -72px 0; left:107px; }
#sm7                { background-position: -84px 0; left:121px; }
#sm8                { background-position: -96px 0; left:135px; }
#sm9                { background-position:-108px 0; left:149px; }
#sm10               { background-position:-120px 0; left:163px; }
#sm11               { background-position:-132px 0; left:177px; }
#sm12               { background-position:-144px 0; left:191px; }
#sm13               { background-position:-156px 0; left:214px; }
#sm14               { background-position:-168px 0; left:228px; }
#sm15               { background-position:-180px 0; left:242px; }
#sm16               { background-position:-192px 0; left:256px; }
#sm17               { background-position:-204px 0; left:270px; }
#sm18               { background-position:-216px 0; left:284px; }
#sm19               { background-position:-228px 0; left:298px; }
#sm20               { background-position:-240px 0; left:312px; }
#sm21               { background-position:-252px 0; left:326px; }
#sm22               { background-position:-264px 0; left:340px; }
#sm23               { background-position:-276px 0; left:354px; }
#sm24               { background-position:-288px 0; left:368px; }
#sm25               { background-position:-300px 0; left:382px; }
#sm26               { background-position:-312px 0; left:405px; }
#sm27               { background-position:-324px 0; left:419px; }
#sm28               { background-position:-336px 0; left:433px; }
#sm29               { background-position:-348px 0; left:447px; }
#sm30               { background-position:-360px 0; left:461px; }
#sm31               { background-position:-372px 0; left:475px; }
#sm32               { background-position:-384px 0; left:489px; }
#sm33               { background-position:-396px 0; left:503px; }
#sm34               { background-position:-408px 0; left:517px; }
#sm35               { background-position:-420px 0; left:531px; }
#sm36               { background-position:-432px 0; left:545px; }
#sm37               { background-position:-444px 0; left:559px; }
#sm38               { background-position:-456px 0; left:573px; }
#sm39               { background-position:-468px 0; left:596px; }
#sm40               { background-position:-480px 0; left:610px; }
#sm41               { background-position:-492px 0; left:624px; }
#sm42               { background-position:-504px 0; left:638px; }
#sm43               { background-position:-516px 0; left:652px; }
#sm44               { background-position:-528px 0; left:666px; }
#sm45               { background-position:-540px 0; left:680px; }
#sm46               { background-position:-552px 0; left:694px; }
#sm47               { background-position:-564px 0; left:708px; }
#sm48               { background-position:-576px 0; left:722px; }
#sm49               { background-position:-588px 0; left:736px; }
#sm50               { background-position:-600px 0; left:750px; }
#sm51               { background-position:-612px 0; left:764px; }

/* HOLE CARDS */

#calc .lgc          { background-image:url(../img/deck1.png); background-position:36px 55px; background-repeat:no-repeat; cursor:pointer; font-size:1px; height:55px; overflow:hidden; position:absolute; width:36px; }

#hole0              { left:360px; top: 73px; }
#hole1              { left:404px; top: 73px; }

/* COMMUNITY CARDS */

#flop0              { left:265px; top:261px; }
#flop1              { left:309px; top:261px; }
#flop2              { left:353px; top:261px; }
#flop3              { left:426px; top:261px; }
#flop4              { left:499px; top:261px; }

/* CARD HIGHLIGHTS */

#calc .hilite       { background-image:url(../img/highlight.png); background-repeat:no-repeat; display:none; font-size:1px; height:71px; overflow:hidden; position:absolute; width:52px; }

#hilite0            { left:352px; top: 65px; }
#hilite1            { left:396px; top: 65px; }
#hilite2            { left:257px; top:253px; }
#hilite3            { left:301px; top:253px; }
#hilite4            { left:345px; top:253px; }
#hilite5            { left:418px; top:253px; }
#hilite6            { left:491px; top:253px; }

/* RESULTS */

#result             { background-image:url(../img/result.png); background-repeat:no-repeat; color:#FFF; display:none; font-family:"Tahoma",sans-serif; font-size:11px; font-weight:bold; height:36px; left:360px; line-height:36px; overflow:hidden; position:absolute; text-align:center; top:129px; width:80px; }

#details            { background-color:#FFF; border:solid 1px #000; display:none; font-size:11px; font-family:"Tahoma",sans-serif; height:240px; left:146px; overflow:auto; padding:4px; position:absolute; text-align:center; top:330px; width:640px; }

#details select     { font-family:"Tahoma",sans-serif; font-size:11px; font-weight:bold; }

#details table      { border:solid 1px #000; border-collapse:collapse; margin:auto; width:auto; }
#details table th   { border:solid 1px #000; background-color:#36C; color:#FFF; font-family:"Tahoma",sans-serif; font-size:10px; padding:1px 3px; }
#details table td   { border:solid 1px #000; background-color:#FFF; color:#000; font-family:"Tahoma",sans-serif; font-size:10px; padding:1px 3px; }
#details table .t   { background-color:#9CF; font-weight:bold; }

#details0           { margin:0 auto; }
#details0 p         { background-color:#999; font-weight:bold; margin-top:0; padding:3px; }

.l                  { text-align:left; }
.c                  { text-align:center; }
.r                  { text-align:right; }

/* BUTTONS */

#btn_help           { cursor:pointer; font-size:1px; height:27px; left: 19px; overflow:hidden; position:absolute; top: 65px; width:112px; }
#btn_reset          { cursor:pointer; font-size:1px; height:27px; left:669px; overflow:hidden; position:absolute; top: 65px; width:112px; }
#btn_random         { cursor:pointer; font-size:1px; height:27px; left: 19px; overflow:hidden; position:absolute; top:508px; width:112px; }

/* HELP */

#help               { background-image:url(../img/help.png); background-repeat:no-repeat; display:none; height:231px; left:131px; position:absolute; top:184px; width:537px; }

